.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-header > h1 {
  color: red;
  font-size: 2rem;
  padding: 20px;
}

body {
  background-color: azure;
}
