.stocks {
  width: 400px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.stocks:hover {
  transform: scale(1.09);
}

.stocks > img {
  height: 200px;
  object-fit: contain;
  width: 300px;
}